head
    title= pageTitle
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet", href="../css/style.css")
    script(src='../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')