/**
 * Created by vatiba01 on 29.03.2016.
 */
.file {
    padding-top: 45px;
    margin-bottom: 30px;
    span {
        width: 80%;
        display: block;
        border: 2px solid grey;
        padding: 30px 0;
        text-align: center;
        color: grey;
        font-weight: bold;
    }
    &.hover {
        span {
            border-color: red;
        }
    }
    &.drop {
        span {
            border-color: green;
        }
    }
}