/**
 * Created by vatiba01 on 29.03.2016.
 */
.main .history {
    float: left;
    width: 30%;
}
.history_wrap {
    padding: 5px 10px;
}
.history_title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.history_list {
    list-style: decimal inside;
    font-size: 16px;
    span {
        .inlineblock;
        margin-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        &:first-child {
            margin-left: 0;
            font-weight: bold;
        }
    }
}
