/**
 * Created by vatiba01 on 29.03.2016.
 */
.player {
    .clearfix;
    width: 80%;
    margin-bottom: 40px;
}
.player_play {
    float: left;
    width: 20%;
    text-decoration: none;
    span {
        display: block;
        border: 1px solid blue;
        color: blue;
        padding: 5px 10px;
    }
}
.player_stop {
    float: left;
    width: 20%;
    margin: 0 5%;
    text-decoration: none;
    span {
        display: block;
        border: 1px solid blue;
        color: blue;
        padding: 5px 10px;
    }
}
.player_info {
    float: left;
    width: 50%;
    span {
        display: block;
        padding: 5px 10px;
        background: #34d6ff;
        border: 2px solid grey;
    }
}