extends ../layouts/layout

block config
    - var pageTitle = "Главная";
    - var menuActiveNum = 0;

block content
    section.main
        .history
            .history_wrap
                .history_title История проигрывания
                ul.history_list#history
                    li.history_item
                        span Название1
                        span 11:45
        .right
            .file#drop
                span Перетащите файл сюда (mp3, wav)
            .visual
                canvas#osc
            .player
                a.player_play#play(href="#")
                    span Play
                a.player_stop#stop(href="#")
                    span Pause
                .player_info
                    span#filename Filename
            .examples
                span Примеры файлов
                ul
                    li
                        a(href='/Crash_with_Hiss.wav') Crash_with_Hiss.wav
                    li
                        a(href='/gallery_music.mp3') gallery_music.mp3
                    li
                        a(href='/gallery_music.wav') gallery_music.wav
                    li
                        a(href='/limp_bizkit_-_break_stuff_(zaycev.net).mp3') limp_bizkit_-_break_stuff_(zaycev.net).mp3
                    li
                        a(href='/outkast_-_hey_ya_(zaycev.net).mp3') outkast_-_hey_ya_(zaycev.net).mp3
                    li
                        a(href='/WavLibraryNet_Sound15062.mp3') WavLibraryNet_Sound15062.mp3
                    li
                        a(href='/София Ротару - Луна, Луна [Ретро Мега Денс Remix] [с сайта www.ololo.fm].mp3') София Ротару - Луна, Луна [Ретро Мега Денс Remix] [с сайта www.ololo.fm].mp3