@import "normalize.min.less";

html {
	width:100%;
	height:100%;
	font-size: 100.01%;
}

body {
	font: 14px/1.41 'Arial', sans-serif;;
	width:100%;
	height:100%;
}

iframe {
    border: 0 none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
    list-style: none inside none;
}

@import "mixins.less";

/* Secondary section */

.container {
	width: 320px;
	margin: 0 auto;
}

.wrapper {
	position: relative; 
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
    min-width: 320px;
    z-index: 10;
}
.hidden, .ninja {
    position: absolute;
    left: -9999px;
    top: -9999px;
    .opacity(0);
    width: 0;
    height: 0;
    overflow: hidden;
}

//Прижимаем футер
.empty {
    height: 100px;
    position: relative;
}
footer {
    margin-top: -100px;
}

canvas {
    display: block;
}
.right {
    margin-left: 30%;
}
.main {
    .clearfix;
}

@import "less/fonts";
@import "less/history";
@import "less/file";
@import "less/visual";
@import "less/player";

.examples {
    span {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        display: block;
        margin-bottom: 10px;
    }
    ul {
        list-style: decimal;
        li {
            margin-bottom: 5px;
        }
    }
}